@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.dispTbl {
  display: table;
}

.dispTblRow {
  display: table-row;
}

.dispTblCell {
  display: table-cell;
}

a {
  color: #111;
  font-size: 15px;
  font-weight: bold;
}

a:hover {
  color: rgb(7, 134, 7);
}

div#wrap {
  border: 1px solid #000;
  width: 600px;
  margin: 0px auto;
}

header#header {
  padding: 6px;
  border: 1px solid #000;
  background-color: #01241b;
}

#header h1 {
  color: #8a9708;
  font-size: 28px;
  text-align: center;
  transform: scaleX(0.95);
}

#header h1 span:first-child {
  color: #dfe0a4;
  font-size: 72px;
}

#header h1 span:nth-child(2) {
  font-size: 38px;
}

#header h1 span:last-child {
  color: #9ea998;
  font-size: 54px;
}

nav#gnb {
  width: 150px;
  padding: 16px;
  vertical-align: top;
  /* display: table 레이아웃에서 아래쪽 세로 정렬이
    적용될 수 있기 때문
  */
  background-color: #a9b59f;
}

/* dispaly table 레이아웃을 적용하면
    2열 또는 3열에서 특정 영역의 내용이 세로 정렬에서
    bottom 정렬로 적용될때가 있음. 이때 vertical-allgn:top을
    적용하여 세로정렬에서 top정렬을 적용함.
*/

div#contents {
  vertical-align: top;
}

div#contents h2 {
  color: #bfb42f;
  padding: 8px;
  font-size: 23px;
  font-family: 궁서체;
  font-weight: normal;
  padding-left: 20px;

  background-color: #431902;
}

div#contents p {
  padding: 16px;
}

footer#footer {
  font-size: 14px;
  padding: 10px;

  background-color: #7f9274;
}
